<%= form_for(@forum, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class=> "forum input-xxlarge" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls form-inline">
      <%= f.radio_button :active, 'true' %> 
      <%= f.label :active, 'Active', :value => 'true' %>
      <%= f.radio_button :active, 'false' %>
      <%= f.label :active, 'Inactive', :value => 'false' %>
    </div>
  </div>

  <div class="control-group">
    <div class="forums controls">
      <%= f.submit %>
    </div>
  </div>
<% end %>
