<h2>Active Forums</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Forum</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @active_forums.each do |forum| %>
      <tr>
        <td class="span1">
          <%= link_to 'Edit', edit_forum_path(forum), class: 'btn btn-mini' %>
        </td>
        <td class="span6"><%= link_to forum.name, forum %></td>
        <td>
          <%= link_to 'Delete', forum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Inactive Forums</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Forum</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inactive_forums.each do |forum| %>
      <tr>
        <td class="span1">
          <%= link_to 'Edit', edit_forum_path(forum), class: 'btn btn-mini' %>
        </td>
        <td class="span6 muted"><%= link_to forum.name, forum %></td>
        <td>
          <%= link_to 'Delete', forum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Forum', new_forum_path, class: 'btn' %>
