<%= link_to '< Forums List', forums_path, class: 'btn btn-small' %> |
<%= link_to 'Edit Forum', edit_forum_path(@forum), class: 'btn btn-small' %> 

<h4>Forum: <%= @forum.name %></h4>
<p id="notice"><%= notice %></p>

<%= link_to 'New Post', "/forums/#{@forum.key}/discussions/new", class: 'btn' %>

<% @discussions.each do | discussion | %>
<div class="post-head">
<div class="post-name"><%= link_to discussion.name, "/forums/#{@forum.key}/discussions/#{discussion.key}" %></div>
<span class="muted small"><%= link_to '#', "/forums/#{@forum.key}/discussions/#{discussion.key}" %></span>
<span class="post-author-label muted">Posted by:</span>
<span class="post-author muted"><%= discussion.username %></span>
</div>
<div class="post-contents">
	<div class="post-body">
	
	</div>
	<div class="post-actions">
	<%= link_to 'reply', "/forums/#{@forum.key}/discussions/#{discussion.key}/reply", class: 'btn btn-mini' %>
	</div>
</div>
<% end %>
