<%= link_to '< Forums List', forums_path, class: 'btn btn-small' %> |
<%= link_to 'Edit Forum', edit_forum_path(@forum), class: 'btn btn-small' %> 

<h4>Forum: <%= @forum.name %></h4>
<p id="notice"><%= notice %></p>

<%= link_to 'New Post', "/forums/#{@forum.key}/posts/new", class: 'btn' %>

<% @posts.each do | post | %>
<div class="post-head">
<div class="post-name"><%= post.name %></div>
<span class="muted small"><%= link_to '#', "/forums/#{@forum.key}/posts/#{post.key}" %></span>
<span class="post-author-label muted">Posted by:</span>
<span class="post-author muted"><%= post.username %></span>
</div>
<div class="post-contents">
	<div class="post-body">
	<%= post.body %>
	</div>
</div>
<% end %>
