Forum: <%= link_to "#{@forum.name}", @forum %> 

<h4>Discussion: <%= @discussion.name %></h4>
<p id="notice"><%= notice %></p>

<% @top_level_replies.each do | post | %>
<%= render partial: 'forum_posts/post', locals: { post: post } %>
<% end %>

<br />
<%= link_to 'New Reply', new_discussion_forum_post_path(@discussion), class: 'btn' %>
