<%= form_for(@forum_post, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @forum_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum_post.errors.count, "error") %> prohibited this forum_post from being saved:</h2>

      <ul>
      <% @forum_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name, :class=> "input-xxlarge" %>
    </div>
  </div>

<div class="control-group">
    <%= f.label :body, class: "control-label" %>
  <div class="controls">
    <%= f.text_area :body, :rows => 5 %><br />
  </div>
</div>

  <div class="control-group">
    <div class="forums controls">
      <%= f.submit %>
    </div>
  </div>
<% end %>
