<h2>New Reply</h2>
<dl class="dl-horizontal">
  <dt>Forum:</dt>
  <dd><%= @forum.name %></dd>
  <dt>Author:</dt>
  <dd><%= @current_user.username %></dd>
<% if @reply_to_post %>
  <dt>Reply To:</dt>
  <dd><%= @reply_to_post.name %></dd>
<% end %>
</dl>

<%= render partial: 'form', locals: { create_path: "/discussions/#{@discussion.key}/forum_posts/#{@reply_to_post.key}/reply" } %>

<%= link_to 'Back', forum_posts_path %>