<p id="notice"><%= notice %></p>

< <%= link_to @forum.name, @forum %>

<h4>Post: <%= @forum_post.name %></h4>

<%= link_to 'Edit', edit_forum_post_path(@forum_post), class: 'btn' %>

<div class="post-head">
<div class="post-name"><%= @forum_post.name %></div>
<span class="muted small"><%= link_to '#', "/forums/#{@forum.key}/posts/#{@forum_post.key}" %></span>
<span class="post-author-label muted">Posted by:</span>
<span class="post-author muted"><%= @author_name %></span>
</div>
<div class="post-contents">
    <div class="post-body">
    <%= @forum_post.body %>
    </div>
</div>